
#root {
  /* display: flex; */
  max-width: 100%;
  /* margin: 0 auto; */
  padding: 0px 0px;
  text-align: center;
}
.home-page-body{
  display: flex;
  flex-direction: column;
  max-width: 1350px;
  width: 90%;
  margin-top: 80px;
  padding: 0px 0px;
}
.flag-container{
  max-width:1350px;
  min-height: 80vh;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* padding: 0px 50px; */
  flex-wrap: wrap;
}

.filtering-container{
  width: 100%;
  max-width: 1350px;
  padding: 50px 0px;
  justify-content: center;
  gap: 30px;
  display: flex;
}
.body-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: var(--Very-Light-Gray); */
}

.filters{
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}


